.color-swatches {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.size-swatches {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border: 2px solid rgba(0, 0, 0, 0);
}

.size-swatches-selected {
  border: 2px solid black;
}

.color-swatches-hue {
  display: flex;
  flex-direction: column;

  & + .color-swatches-hue {
    margin-left: 0.5em;
  }
}

.color-swatches-color {
  margin: auto;
  width: 25px;
  height: 25px;
  background-color: #888;
  margin-bottom: 1px;
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid rgba(0, 0, 0, 0);
}

.size-swatch-solid {
  width: 30px;
  height: 30px;
  background-color: #888;
  margin: 1px;
  cursor: pointer;
  border-radius: 50%;
}

.size-swatch-border {
  width: 30px;
  height: 30px;
  margin: 1px;
  cursor: pointer;
  border-radius: 50%;
  background-color: #fff;
  border: 2px solid #888;
}

.size-swatch-line {
  height: 40px;
  border-left: 6px solid #888;
  margin: 1px;
  margin-right: 20px;
  cursor: pointer;
  transform: rotate(20deg);
}

.color-swatches-color-selected {
  border: 2px solid black;
}

.color-gradients {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.color-gradients-squares {
  display: flex;
  flex-direction: row;
  border: 2px solid rgba(0, 0, 0, 0);
  margin: 1px;
}

.color-gradients-squares-selected {
  border: 2px solid black;
}

.color-gradients-squares-item {
  width: 24px;
  height: 24px;
  margin: none;
  padding: none;
  background-color: #888;
}
