.color-swatches {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.size-swatches {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border: 2px solid rgba(0, 0, 0, 0);
}

.size-swatches-selected {
  border: 2px solid black;
}

.color-swatches-hue {
  display: flex;
  flex-direction: column;

  & + .color-swatches-hue {
    margin-left: 0.5em;
  }
}

.color-swatches-color {
  margin: auto;
  width: 20px;
  height: 20px;
  background-color: #888;
  margin-bottom: 1px;
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid rgba(0, 0, 0, 0);
}

.size-swatches-circle {
  width: 20px;
  height: 20px;
  background-color: #888;
  margin: 1px;
  cursor: pointer;
  border-radius: 50%;
}

.color-swatches-color-selected {
  border: 2px solid black;
}

.color-gradients {
  display: flex;
  flex-direction: column;
}

.color-gradients-color {
  margin: auto;
  width: 200px;
  height: 20px;
  background-color: #888;
  margin-bottom: 1px;
  cursor: pointer;
  border: 2px solid rgba(0, 0, 0, 0);
}

.color-gradients-color-selected {
  border: 2px solid black;
}
