.color-swatches {
  display: flex;
  flex-direction: row;
}

.color-swatches-hue {
  display: flex;
  flex-direction: column;

  & + .color-swatches-hue {
    margin-left: 0.5em;
  }
}

.color-swatches-color {
  width: 1.5em;
  height: 1.5em;
  background-color: #888;
  margin-bottom: 1px;
  cursor: pointer;
  border-radius: 50%;
}

.color-gradients {
  display: flex;
  flex-direction: column;
}

.color-gradients-color {
  width: 6em;
  height: 1.5em;
  background-color: #888;
  margin-bottom: 1px;
  cursor: pointer;
}