.style-picker {
  text-align: center;
  width: 250px;
}

.style-picker-heading {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 15px;
  font-weight: bold;
  font-size: large;
}

.style-picker-body {
  padding: 5px;
  margin: auto;
}

.style-picker-value {
  margin: auto;
  width: 90%;
  padding-top: 10px;
}

.style-picker-attribute {
  width: 100%;
  padding-top: 10px;
}
