html,
body {
  height: 100%;
  width: 100%;
}

body {
  font-family: Open Sans, Helvetica Neue, Helvetica, sans-serif;
  font-size: 12pt;

  &.content-page {
    margin: 0.5em;
  }
}

* {
  outline: none !important;
}
