<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />
    <meta name="description" content="Foo bar" />
    <meta name="keywords" content="foo, bar" />

    <link type="text/css" rel="stylesheet" href="/deps.css" />
    <link type="text/css" rel="stylesheet" href="/main.css" />

    <script defer src="/deps.js"></script>
    <script defer src="/main.js"></script>

    <title>Foo bar</title>
  </head>

  <body>
    TODO write your clientside/serverside app
  </body>

</html>
