.header {
  border-bottom: 2px solid #050505;
}

.header .logo {
  width: 48px;
  height: 48px;
  background-size: cover;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
  margin-right: 1em;
}

.header .menu-button {
  margin-right: 2em;
}

.header .grow {
  flex-grow: 1;
}

.header-title-area {
  margin-left: 2em;
  line-height: 1;
}

.header-title-text {
  font-weight: bold;
}

.header-title-save-status {
  opacity: 0.666;
  font-size: 0.8em;
  margin-top: 0.25em;
}

.header-tools {

}

.header-separator {
  width: 1em;
  display: inline-block;
}
