.header {
  flex: 0 1 auto;

  & > header {
    box-shadow: 0 0 10px 4px rgba(154, 161, 177, 0.15), 0 4px 40px -8px rgba(36, 40, 47, 0.25), 0 4px 4px -2px rgba(91, 94, 105, 0.15);
  }
}

.header .logo {
  width: 48px;
  height: 48px;
  background-size: cover;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
  margin-right: 1em;
}

.header .menu-button {
  margin-right: 2em;
}

.header .grow {
  flex-grow: 1;
}
