.style-panel {
  z-index: 1;
  position: absolute;
  left: 4em;
  top: 4.5em;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.25em;
  border-radius: 0.25em;
  background-color: rgba(0, 0, 0, 0.666);
  color: #fff;
  border: 2px solid #333;
}

.style-panel-button {
  cursor: pointer;
  color: #fff;

  &:active {
    color: #fff;
  }

  & + .tool-panel-button {
    margin-left: 0.5em;
  }
}
