.tool-panel {
  display: flex;
  flex-direction: row;
  border-left: 2px solid #0e0e0e;
  /* font-size: 0.8em; */
}

.tool-panel-buttons {
  padding: 2em 0.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(243, 243, 243, 0.75);
  color: inherit;
  border-left: 2px solid #0e0e0e;
  backdrop-filter: blur(4px);

  & > *:not(:first-child) {
    margin-top: 0.25em;
  }
}

.tool-panel-content {
  padding: 1em 0.5em;
  width: 250px;
  overflow-x: hidden;
  overflow-y: auto;
}

.tool-panel-buttons .MuiButtonBase-root {
  width: 1.75em;
  height: 1.75em;
  border-radius: 0.25em;
}

.tool-panel-heading {
  font-size: 1.25em;
  font-weight: bold;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #3e3e3e;
  margin-bottom: 0.5em;
  margin-left: -0.5em;
  margin-right: -0.5em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.tool-panel-section {
  position: relative;
  border-top: 1px solid #3e3e3e;
  border-bottom: 1px solid #3e3e3e;
  padding: 1em 0;

  & + .tool-panel-section {
    border-top: 0 solid transparent;
  }
}
