.tool-panel {
  display: flex;
  flex-direction: row;
  border-left: 2px solid #0e0e0e;
}

.tool-panel-buttons {
  padding: 2em 0.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(243, 243, 243, 0.75);
  color: inherit;
  border-left: 2px solid #0e0e0e;
  backdrop-filter: blur(4px);

  & > *:not(:first-child) {
    margin-top: 0.25em;
  }
}

.tool-panel-content {
  padding: 1em 0.5em;
  width: 250px;
  overflow-x: hidden;
  overflow-y: auto;
}

.tool-panel-buttons .MuiButtonBase-root {
  width: 1.75em;
  height: 1.75em;
  border-radius: 0.25em;
}
