.tool-panel {
  z-index: 1;
  position: absolute;
  left: 0.5em;
  top: 7.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.25em;
  border-radius: 0.25em;
  background-color: rgba(243, 243, 243, 0.75);
  color: inherit;
  border: 1px solid #b5b5b5;
  box-shadow: 0 0 10px 4px rgba(154, 161, 177, 0.15), 0 4px 40px -8px rgba(36, 40, 47, 0.25), 0 4px 4px -2px rgba(91, 94, 105, 0.15);
  backdrop-filter: blur(4px);
}

.tool-panel-button {
  color: inherit;
  cursor: pointer;

  &:active {
    color: inherit;
  }

  & + .tool-panel-button {
    margin-top: 0.5em;
  }
}
