.tool-panel {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: row;
  border-left: 2px solid #0e0e0e;
  z-index: 10;
}

.tool-panel-buttons {
  height: 100%;
  padding: 2em 0.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(243, 243, 243, 0.75);
  color: inherit;
  border-left: 2px solid #0e0e0e;
  backdrop-filter: blur(4px);
  box-sizing: border-box;

  & button:not(:first-child) {
    margin-top: 0.25em;
  }
}

.tool-panel-content {
  width: 250px;
  overflow-x: hidden;
  overflow-y: auto;
}

.tool-panel-wrapper {
  margin-right: 52px;
  margin-top: 60px;
  width: 250px;
  padding: 0.5em;
}

.tool-panel-buttons .MuiButtonBase-root {
  width: 1.75em;
  height: 1.75em;
  border-radius: 0.25em;
}

.tool-panel-heading {
  font-size: 1.25em;
  font-weight: bold;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #3e3e3e;
  margin-left: -0.5em;
  margin-right: -0.5em;
  padding-left: 1em;
  padding-right: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.layout-panel .tool-panel-heading {
  margin-bottom: 1em;
}

.tool-panel-section {
  position: relative;
  border-top: 1px solid #3e3e3e;
  border-bottom: 1px solid #3e3e3e;
  padding: 1em 0;

  & + .tool-panel-section {
    border-top: 0 solid transparent;
  }

  & .MuiOutlinedInput-root {
    font-size: 1em;
    margin: 0 0.666em;
  }

  & .MuiSelect-root {
    padding: 8px;
  }

  & .MuiFormLabel-root {
    font-size: 1em;
  }

  & .color-swatches-color {
    margin: 0.5em 0.666em;
    width: 27px;
    height: 27px;
  }

  & .shape-swatches {
    margin: 0.5em 0.45em;
  }
}

.shape-swatches-popover-content {
  max-width: 150px;

  & .MuiToggleButtonGroup-root {
    flex-wrap: wrap;
  }

  & button {
    width: 3.5em;
    /* background: cyan; */
    margin: 0.125em !important;
  }

  & .MuiSvgIcon-root {
    color: rgb(180, 180, 180) !important;
  }
}

.style-panel .MuiFormControl-root {
  margin: 0.5em 0;
}

.style-panel .size-slider {
  margin-top: 0.5em;
  padding: 0 1em;
}

.style-panel .opacity-slider {
  margin-top: 0.5em;
  padding: 0 1em;
}

.tool-panel-section-title {
  color: rgba(255, 255, 255, 0.7);
  margin: 0 0.666em 0.666em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tool-panel-section-secondary-title {
  color: rgba(255, 255, 255, 0.7);
  margin: 0.666em;
}

.tool-panel-bottom-spacer {
  clear: both;
  height: 1px;
  width: 100%;
  background: cyan;
}
